body {
    background-color: #FFF;
}

.container {
    background: url(../img/back.png) repeat-x 0 100%;
    background-size: contain;
    background-position: bottom;
    height: 400px;
    width: 100%;
    position: relative;
    animation: city 10s linear infinite;
    overflow: hidden;
}

.img-wrapper-mario {
    position: fixed;
    top: 240px;
    animation: space 10s ease-out infinite;
    animation-delay: 2s;
    animation-direction: normal;
}

.img-wrapper-tube {
    position: fixed;
    top: 180px;
    left: 250px;
}

.img-wrapper-mushroom {
    position: fixed;
    top: 280px;
    left: 400px;
    animation: mushroom 4s infinite ease-in-out alternate-reverse;
}

.tube-2 {
    left: 715px;
}

.img-wrapper-star {
    position: fixed;
    top: 100px;
    left: 120px;
    animation: star .8s infinite ease-in-out alternate-reverse;
}

@keyframes space {
    0% {
        transform: translateY(0px);
    }
    3% {
        transform: translateY(-100px);
    }
    5% {
        transform: translateY(0px);
    }
    7% {
        transform: translateY(-100px);
    }
    10% {
        transform: translateY(0px);
    }
    15% {
        transform: translateX(150px);
    }
    20% {
        transform: translateX(200px) translateY(-200px);
    }
    25% {
        transform: translateX(300px) translateY(-100px);
        opacity: 1;
    }
    30% {
        transform: translateX(300px) translateY(0px);
        opacity: 0;
    }
    35% {
        transform: translateX(750px) translateY(0px);
        opacity: 0;
    }
    40% {
        transform: translateX(750px) translateY(-200px);
        opacity: 1;
    }
    45% {
        transform: translateX(900px) translateY(-100px);
    }
    50% {
        transform: translateX(900px) translateY(0px);
    }
    55% {
        transform: translateX(1200px) translateY(0px) scale(-1, 1)
    }
    60% {
        transform: translateX(900px) translateY(0px) scale(-1, 1);
    }
    65% {
        transform: translateX(900px) translateY(-100px) scale(-1, 1);
    }
    70% {
        transform: translateX(750px) translateY(-200px)scale(-1, 1);
        opacity: 1;
    }
    75% {
        transform: translateX(750px) translateY(0px)scale(-1, 1);
        opacity: 0;
    }
    80% {
        transform: translateX(300px) translateY(0px)scale(-1, 1);
        opacity: 0;
    }
    85% {
        transform: translateX(300px) translateY(-100px)scale(-1, 1);
        opacity: 1;
    }
    90% {
        transform: translateX(200px) translateY(-200px)scale(-1, 1);
    }
    95% {
        transform: translateX(150px)scale(-1, 1);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes city {
    from {
        background-position: -720px 100%, 0 0;
    }
    to {
        background-position: 0 100%;
    }
}

@keyframes mushroom {
    from {
        transform: translateX(000px);
    }
    to {
        transform: translateX(300px);
    }
}

@keyframes star {
    from {
        transform: translateY(000px);
    }
    to {
        transform: translateY(15px);
    }
}

@media(max-width:740px) {
    .container {
        background-size: cover;
    }
}
